@media screen and (min-width: 786px) {
  .container{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #f2f2f2;
    overflow-y: scroll;

  }
  
  .inner_container{
    margin-left: 220px;
    width: calc(100% - 220px);
    background-color: #f2f2f2;
    height: 100%;
  }
  
  .horizontal_navbar {
    height: 60px;
    background: white;
    position: sticky;
    top: 0px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between; 
  }
  
  .createpost {
      box-shadow: 0 1px 2px rgb(70 71 72 / 48%), inset 0 -1px 0 rgb(0 0 0 / 12%);
    background: white;
    border: 0px;
    padding: 8px 13px;
    border-radius: 7.5px;
    font-size: 16px;
  }
  
  .horizontal_navbarcontent {
    align-items: center;
    height: 60px;
    display: flex;
  }
  
    .horizontal_navbarcontentright {
    align-items: center;
    height: 60px;
    display: flex;
      gap: 20px;
  }
  
  .active_communitylogo {
    background-image: url(https://i.imgur.com/YeqM8du.png);
    height: 35px;
    background-size: cover;
    width: 35px;
    border-radius: 7.5px;
    margin-right: 10px;
  }
  
 
}

@media screen and (max-width: 786px) {
  .inner_container{
    width: 100vw;
    background-color: #f2f2f2;
    height: 100%;
    margin-top: 60px;
    overflow-y: hidden;
    color: rgb(229, 229, 229);
  }
}
