@media screen and (min-width: 786px) {
  .container{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #36393f;
  }
  
  .inner_container{
    margin-left: 320px;
    width: calc(100% - 620px);
  }
  
  .horizontal_navbar {
    height: 60px;
    background: white;
    position: sticky;
    top: 0px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0px 1px 4px 0 #e4e1db;
    display: none;
  }
  
  .createpost {
    box-shadow: 0 0.25px 3px rgb(70 71 72 / 28%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    background: white;
    border: 0px;
    padding: 8px 19px;
    border-radius: 7.5px;
    font-size: 16px;
    cursor: pointer;
  }
  .createpostmobile {
  display: none;
  }
  
  .horizontal_navbarcontent {
    align-items: center;
    height: 60px;
    display: flex;
    gap: 12px;
  }
  
    .horizontal_navbarcontentlogin {
    align-items: center;
    height: 60px;
    display: flex;
    gap: 12px;
  }
  .searchbar_wrapper {
      margin-left: 128px;
      display: flex;
  }
  .searchbar {
    width: 660px;
    background: #f2f2f2;
    color: #595959;
    text-align: left;
    padding: 8px 19px;
    border: 0;
    font-size: 16px;
    border-radius: 7.5px;
    margin: auto;
  }
  
    .horizontal_navbarcontentright {
    align-items: center;
    height: 60px;
    display: flex;
      gap: 40px;
  }
  
  .active_communitylogo {
    background-image: url(https://i.imgur.com/YeqM8du.png);
    height: 35px;
    background-size: cover;
    width: 35px;
    border-radius: 7.5px;
  }
  
  .active_login {
    background-image: url(https://i.ibb.co/pfRftQR/users.png);
    border-radius: 0px;
    height: 23px;
    width: 23px;
    background-size: cover;
  }
  
  .active_directmessages {
    background-image: url(https://i.ibb.co/tZ2w2TJ/chat.png);
    border-radius: 0px;
    height: 23px;
    width: 23px;
    background-size: cover;
  }
  
  .active_notifications {
    background-image: url(https://i.ibb.co/JC84QnL/bookmark.png);
    border-radius: 0px;
    height: 23px;
    width: 23px;
    background-size: cover;
  }
  
 
}

@media screen and (max-width: 786px) {
  .inner_container{
    width: 100vw;
    background-color: #f2f2f2;
    height: 100%;
    overflow-y: hidden;
    color: rgb(229, 229, 229);
  }
  .horizontal_navbar {
    height: 60px;
    background: #fff;
    position: sticky;
    top: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
  }
    .active_communitylogo {
    background-image: url(https://i.imgur.com/YeqM8du.png);
    height: 35px;
    background-size: cover;
    width: 35px;
    border-radius: 7.5px;
  }
    .horizontal_navbarcontent {
    align-items: center;
    height: 60px;
    display: flex;
    gap: 12px;
  }
      .horizontal_navbarcontentright {
    align-items: center;
    height: 60px;
    display: flex;
      gap: 40px;
  }
  .active_directmessages, .active_notifications, .horizontal_navbarcontentlogin, .searchbar_wrapper, .createpost {
  display: none;
  }
    .createpostmobile {
    box-shadow: 0 0.25px 3px rgb(70 71 72 / 28%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    background: white;
    border: 0px;
    padding: 8px 19px;
    border-radius: 7.5px;
    font-size: 16px;
      cursor: pointer;
  }
  
}
