.connect_wallet{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30vw;
  height: 7vh;
  min-height: 40px;
  background-color: rgb(95, 95, 199);
  color: white;
  border: none;
  border-radius: 12px;
}