.uploader{
  min-height: 100px;
 
  width: 100%;
  background-color: #272522;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: column;

  label{
    color: white;
    margin-bottom: 2em;
  }

  img{
    width: 80%;
    max-height: 100px;
  }
}

