@media screen and (min-width: 786px) {
  .container{
    padding-top: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 1048px;
    margin: auto;
    grid-gap: 28px;
    color: white;
  }

  .btn{
    background-color: green;
    color: white;
    padding: 5px;
    border: 2px solid white;
    margin-top: 10px;

  }

  .postForm{
    padding: 1em;

    textarea{
      min-height: 300px;
      width: 100%;
      padding: 1em;
      background-color: #303030;
      color: white;

    }

    fieldset{
      border: none;
      padding: 1em;
      padding-left: 0%;
    }
  }

  .textTools{
    height: 6vh;
    width: 100%;
    background-color: rgb(23, 23, 23);

    ul{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 786px) {
  
}