.mainchat {
 background: white;
 border-radius: 12px;
 width: 988px;
 margin: auto;
 margin-top: 25px;
}

.main{
 height: calc(100vh - 200px);
 padding: 1em;
 overflow-y: scroll;
}
.messageauthor {
display: flex;
 gap: 8px;
 margin-top: 0.5em;
 margin-bottom: 1em;
 
 img {
  border-radius: 5px;
  width: 21px;
 }
}

.sent{
  color: rgb(255, 255, 255);
  background-color: rgb(33, 137, 169);
  margin-top: 1em;
  padding: 1em;
  max-width: 70vw;
  border-radius: 12px;
}

.received{
  color: rgb(255, 255, 255);
  background-color: rgb(164, 46, 185);
  margin-top: 0.3em;
  padding: 1em;
  max-width: 70vw;
  border-radius: 12px;
  margin-left: 20vw;
}

.form{
  border-top: 2px solid rgb(55, 55, 55); 


  input{
    
    border: 0px;
    border-radius: 12px;
    height: 40px;
    margin: 15px;
  }

  button{
    height: 40px;
    width: 100px;
    background-color: green;
    font-size: large;
    border: 0px;
    border-radius: 12px;
  }
}
