.main{
  min-height: 400px;
  max-height: 80vh;
  width: 400px;
  padding: 1em;
  overflow-y: scroll;
  border: 1px solid white; 
}

.sent{
  width: 200px;
  height: 100px;
  margin-top: 1em;
  background-color: rgb(145, 145, 209);
  color: white;
  max-height: 200px;
  overflow-y: scroll;
}

.received{
  margin-left: 150px;
  height: 100px;
  width: 200px;
  color: white;
  background-color: rgb(55, 55, 225);
}

.form{
  margin-top: 1em;
  margin-left: 1em;

  input{
    height: 50px;
    padding: 0.5em;
    margin-right: 1em;
    width: 200px;

  }

  button{
    height: 50px;
    width: 100px;
    background-color: green;
    font-size: large;
  }
}