.mainchat {
 background: white;
 border-radius: 12px;
 width: 988px;
 margin: auto;
 margin-top: 25px;
}

.main{
 height: calc(100vh - 200px);
 padding: 1em;
 overflow-y: scroll;
}
.messageauthor {
display: flex;
 gap: 8px;
 margin-top: 0.5em;
 margin-bottom: 1em;
 color: #333
 
 img {
  border-radius: 5px;
  width: 21px;
 }
}

.sent{
  color: #42464d;
  background-color: #f2f2f2;
  margin-top: 0.3em;
  padding: 1em;
  max-width: 70vw;
  border-radius: 12px;
}

.received{
  color: #42464d;
  border: 1px solid #eee;
  padding: 1em;
  border-radius: 12px;
  margin-top: 0.3em;
}

.form{
  border-top: 1px solid #eee; 


  input{
    
    border: 0px;
    border-radius: 12px;
    height: 40px;
    margin: 15px;
  }

  button{
    height: 40px;
    width: 100px;
    background-color: green;
    font-size: large;
    border: 0px;
    border-radius: 12px;
  }
}
