@media screen and (max-width: 786px) {
  .bar{
    display: none;
  }
}

@media screen and (min-width: 786px) {
  .bar{
    padding-top: 1em;
    position: sticky;
    top: 0;
    overflow-y: auto;
    max-height: 100vh;
    display: grid;
    gap: 28px;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    height: calc(100vh);
    background-color: #2E2B29;   
  }
   .bar::-webkit-scrollbar {
      display: none
    }

  .events{
    margin-bottom: 2em;
    position: relative;
  }
}
