@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Inter');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  line-height: 1.3;
}

img{
  max-width: 8vw;
}
