$light-bg: #FAFAFA;
$light-secondary-bg: #ECECEC;

$light-highlight-color1: #9E57DC;
$light-highlight-color2: #046cac;
$light-highlight-color3: #2778ae;



// Default Values for Mixins

$empty-bg-gradient: linear-gradient(#35aba500, rgba(90, 222, 218, 0));
$empty-bg:#fafafa00;