

@media screen and (min-width: 786px) {
  .navbar{
    height: 100vh;
    width: 320px;
    color: var(--colors-text);
    position: fixed;
    z-index: 99;
    background: #2f3136;
  }
  .communityname {
    height: 60px;
    border-bottom: 1px solid #a3a3ac1a;
    box-shadow: 0 1px 0 #04040533, 0 1.5px 0 #0606070d, 0 2px 0 #0404050d;
    display: flex;
    align-items: center;
    padding: 0 20px;
    hr {
    font-size: 20px;
    }
  }
  .userspace {
  position: fixed;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #a3a3ac1a;
    width: 260px;
    padding: 0 20px;
    display: flex;
    box-shadow: 0 -1px 0 #04040533, 0 -1.5px 0 #0606070d, 0 -2px 0 #0404050d;
    align-items: center;
    gap: 12px;
    
    img {
    max-width: 37.5px;
    border-radius: 12px;
    }
    p{
    color: #959595;
      font-size: 15px;
    }
  }
  .communityinfo {
  padding: 20px;
    border-bottom: 1px solid rgba(163,163,172,0.1);
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .communityjoin {
      background: #3d4046;
    padding: 10px 15px;
    border-radius: 12px;
    width: max-content;
  }
  .communityexplorer {
  position: absolute;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background: #202225;
    gap: 12px;
    padding: 12px 0px;
  }
  .communityleftbar {
  margin-left: 60px;
    color: #b8bcbe;
  }
  
  .links{
    display: flex;
    flex-direction: column;
    width: 100%;
    a {
    text-decoration: none;
    }
    
  }
  
  .pushRight{
    margin-bottom: 2em;
    margin-top: 1em;
    margin-left: 0;
  }
  
  .ul{
    display: flex;
    padding: 20px 8px 0px 8px;
  }
  .ul_universal {
    display:flex;
    flex-direction:column;
  }
  .ul_community_specific {
    display:flex;
    flex-direction:column;
  }
  .ul_actions  {
    display:flex;
    flex-direction:column;
  }
  .category_name {
  padding-left: 12px;
    margin-top: 20px;
    margin-bottom: 7.5px;
  }
  
  .li{
    width: 100%;
    margin: 0.5px 0;
    display: flex;
    align-items: center;
    padding: 7px 0 7px 12px;
    color: #b8bcbe;
  }
  .li:hover {
  background: #3d4046;
    border-radius: 7.5px;
  }
  
  .link_btn{
    width: 23px;
    height: 23px;
    color: white;
    border: none;
    margin-right: 12px;
    background: transparent;
    font-size: 17px;
  
    img{
      height: 23px;
      width: 23px;
    }
  }
  
  .seperator{
    height: 25px;
  }

  .mobile_control{
    display: none;
  }
  
  .close{
  display: none;    
  }

}


@media screen and (max-width: 786px) {

  .close{
    height: 40px;
    margin-bottom: 1em;
    margin-left: 5vw;
    margin-top: 1em;
    width: 40vw;
    background-color: rgb(127, 29, 29);
    color: white;
    border-radius: 12px;
  }
   
  .communityname, .userspace, .communityinfo, .communityexplorer {
  display: none;
  }

  .communityleftbar {
  width: 100%;
  }
  
  .navbar{
    height: 50px;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top: 1px solid #eee;
    
  .ulmobile {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

    .links{
      display: none;
    }

    .mobile_wrap{
      position: fixed;
      z-index: 1000;
      top: 60px;
      left: 0;
      width: 100vw;
      background-color: #272522d4;
      height: 100%;
    }

    ul{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 20px;
      
      li{
        width: 100%;

        button{
          width: 100%;
          color: white;
          background-color: #42464d;
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 70px;
        }

        .profile_img{
          height: 10vh;
          min-width: 10vh;
        }
      }
    }
  }
  
  .mobile_control{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 12px; 
    font-size: 20px;
 
    img{
      height: 3vh;
      max-height: 20px;
      min-height: 15px;
    }
  }
}

