

@media screen and (min-width: 786px) {
  .navbar{
    height: 100vh;
    width: 220px;
    color: var(--colors-text);
    position: fixed;
    top: 60px;
    border-bottom: 1px solid var(--color-gray);
    z-index: 99;
    display: flex;
    align-items: flex-start;
  }
  
  .links{
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  
  .pushRight{
    margin-bottom: 2em;
    margin-top: 1em;
    margin-left: 0;
  }
  
  .ul{
    display: flex;
    width: 220px;
    margin-top: 20px;
    padding-left: 22px;
  }
  .ul_universal {
    display:flex;
    flex-direction:column;
  }
  .ul_community_specific {
    display:flex;
    flex-direction:column;
  }
  .ul_decentra_community {
    display:flex;
    flex-direction:column;
  }  
  .ul_actions  {
    display:flex;
    flex-direction:column;
  }
  .category_name {
  padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 7.5px;
    color: #333;
  }
  
  .li{
    width: 100%;
    margin: 0.5px 0;
    display: flex;
    align-items: center;
    padding: 7px 0 7px 10px;
    color: #42464d;
  }
  .li:hover {
  background: white;
    border-radius: 12px;
  }
  
  .link_btn{
    width: 23px;
    height: 23px;
    color: white;
    border: none;
    margin-right: 12px;
    background: transparent;
    font-size: 17px;
  
    img{
      height: 23px;
      width: 23px;
    }
  }
  
  .logout{
    position: fixed;
    bottom: 1em;
    height: 45px;
    border-radius: 7.5px;
    width: 45px;
    background-color: #3d3b39;
    border: 0;
    color: white;
    cursor: pointer;
    
    &:hover{
      background-color: #272522;
      border: 1px solid white;
    }
  }
  
  .seperator{
    height: 25px;
  }
  
  .li_last{
    list-style: none;
    height: 35px;
    width: 35px;
    margin: 8px 0;
    border-radius: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
  
    &:hover{
      background-color: rgb(206, 206, 236);
    }
    img {
    max-width: 35px;
    border-radius: 7.5px;
    }
  }

  .mobile_control{
    display: none;
  }
}


@media screen and (max-width: 786px) {
  .navbar{
    height: 50px;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top: 1px solid #eee;

    .links{
      display: none;
    }

    .mobile_wrap{
      position: fixed;
      z-index: 1000;
      top: 8vh;
      left: 0;
      width: 100vw;
      background-color: #272522d4;
      height: 100%;
    }

    ul{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1em;
      li{
        width: 100%;

        button{
          width: 100%;
          background-color: #5c5a58;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 70px;
        }

        .profile_img{
          height: 10vh;
          min-width: 10vh;
        }
      }
    }
  }

  .ulmobile {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .mobile_control{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 12px; 
    font-size: 20px;
 
    img{
      height: 3vh;
      max-height: 20px;
      min-height: 15px;
    }
  }
}

