

@media screen and (max-width: 786px) {
  .link_block{
    height: 60px;
    width: 60px;
    padding: 1em;
    display: flex;
    margin: 0.5em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    border-radius: 12px;
    color: #b4b3b2;
  
    h2{
      display: none;
    }
  
    h5{
      color: rgb(100, 100, 100);
      display: none;
    }
  }

  .icon{
    img{
      max-width: 100px;
      max-height: 35px;
      margin-bottom: 0.5em;
    }
  }
}

@media screen and (min-width: 786px) {
  .link_block{
    height: 154px;
    width: 100%;
    background-color: #272522;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    border-radius: 7.5px;
    box-shadow: 0 5px 4px 0px #1d1c1a;
    color: #b4b3b2;
  
    h2{
      font-size: inherit;
      margin-bottom: 0em;
    }
  
    h5{
      color: rgb(100, 100, 100);
      display: none;
    }
  }
  
  .link_block:hover{
    background-color: #212120;
  }
  
  .white_icon{
    height: 50px;
  }
  
  .icon{
    img{
      max-width: 130px;
      max-height: 69px;
      margin-bottom: 1em;
    }
  }
  
}
